<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="5 seconds">

    <springProfile name="default,test,local">
        <include resource="logger/logback/logback-local.xml"/>
        <!-- 개별 필요한 정의 -->
        <logger name="com.greece.titan" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
    </springProfile>

    <springProfile name="dev">
        <include resource="logger/logback/logback-dev.xml"/>
    </springProfile>

    <springProfile name="stg">
        <include resource="logger/logback/logback-stg.xml"/>
    </springProfile>

    <springProfile name="prd">
        <include resource="logger/logback/logback-prd.xml"/>
    </springProfile>
</configuration>